body{
    margin: 0;
    padding: 0;
    background: url(abstracto.jpg);
    background-size: cover;
    background-attachment: fixed;   
    background-position: center;

}

a{
    text-decoration:none;
    color:rgb(255, 255, 255)
}

header{
    display: flex;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.877);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color:rgb(0, 0, 0);
}

li a:hover{
    color:rgb(0, 0, 0);
}

h1{
    padding: 50px;
    background-color: rgb(255, 255, 255)
}

.inline{
    display:inline-block
}

.row{
    display: flex;
    flex-wrap:wrap;

}

aside{
    flex: 100px;
    background-color: rgba(0, 0, 0, 0.877);
    padding: 20px;
}

section{
    flex: -40px;
    background-color: rgba(62, 62, 62, 0.931);
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: rgb(62, 62, 62);
}

